---
import { ContactForm } from '@/components/contact-form';
import { StarsBackground } from '@/components/stars-background';
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
---

<Section
  id="contact"
  aria-labelledby="contact-heading"
  hasBorderTop
  hasGlowEffect
  class="lg:after:hidden"
>
  <StarsBackground client:visible />
  <Container>
    <div class="mb-16 flex flex-col items-center text-center">
      <Caption id="contact-heading">Communication</Caption>
      <Heading>Ready to bring your vision to life?</Heading>
      <Paragraph>
        We're excited to work with you and eager for new connections. <span
          class="text-neutrals-100">Let's start a conversation and create something amazing together</span
        >.
      </Paragraph>
    </div>
    <div class="flex h-full w-full flex-col lg:relative lg:flex-row">
      <div class="mt-10 basis-full lg:mt-0">
        <ContactForm client:visible />
      </div>
    </div>
  </Container>
</Section>
