---
import { VideoBackground } from '@/components/video-background';
import { AnimatedText } from '@/components/animated-text';
import { Button } from '@/components/ui/button';
import { Container } from '@/components/ui/container';
---

<section
  aria-labelledby="hero-heading"
  class="sticky inset-0 flex h-svh w-full flex-col justify-center py-28 bg-transparent"
>
  <VideoBackground client:visible />
  <Container>
    <div class="flex flex-col items-center justify-center">
      <AnimatedText client:visible />
      <div class="mt-12 flex items-stretch gap-x-6 gap-y-3 max-sm:flex-col sm:items-center">
        <Button
          as="a"
          href="/ambition"
          background="primary"
          size="large"
        >
          Are you bored?
        </Button>
        <Button
          as="a"
          href="/fun"
          background="primary"
          size="large"
          isGhost
        >
          Click me
        </Button>
      </div>
    </div>
  </Container>
</section>
