---
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
---

<Section id="info" aria-labelledby="imprint-heading">
  <Container>
    <div class="max-w-prose md:mx-auto">
      <div class="text-center mb-12">
        <Caption>Legal Information</Caption>
        <h1
          id="imprint-heading"
          class="mb-4 text-5xl/tight font-bold text-balance md:text-7xl/tight"
        >
          Imprint
        </h1>
        <p class="text-neutrals-300 text-lg">
          Contact details and legal information for RYZEN STUDIO
        </p>
      </div>
      <address class="grid gap-y-16 not-italic">
        <div>
          <Heading>Details</Heading>
          <Paragraph>
            <span class="text-neutrals-100">RYZEN STUDIO</span><br />
            Chennai<br />
            600119, Tamil Nadu<br /><br />
            CEO: Riyaz Akthar
          </Paragraph>
        </div>
        <div>
          <Heading>Contact</Heading>
          <Paragraph>
            E-Mail:
            <a
              href="mailto:hello@ryzen.studio"
              title="Hit us up"
              class="text-neutrals-100 hover:text-primary border-b border-current transition-colors"
            >
              hello@ryzen.studio</a
            ><br />Phone number: 7200672127
          </Paragraph>
        </div>
      </address>
    </div>
  </Container>
</Section>
