---
import AmbitionSection from '@/components/sections/ambition.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout title="Childhood Dreams - RYZEN STUDIO">
  <main id="main" class="bg-neutrals-900">
    <AmbitionSection />
  </main>
</Layout>
