---
import FunZoneSection from '@/components/sections/fun-zone.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout title="Fun Zone - RYZEN STUDIO">
  <main id="main" class="bg-neutrals-900">
    <FunZoneSection />
  </main>
</Layout>
